<div class="row">
	<div class="col s12 m6">
		<div class="card">
			<div class="card-image">
				<img src="{{image}}">
				<div class="card-title">
					<span class="text-title">
							{{title}}
					</span>
				</div>
			</div>
			<div class="card-content">
				{{content}}
			</div>
			<div class="card-action">
				<a class="primary-action" href="#">{{action}}</a>
				<a class="warning-action" href="#">Warning</a>
			</div>
		</div>
	</div>
</div>