<div class="col s12 m12 l6">
    <h2 class="header">{{empresaName}}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="images/empresaLogo.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>{{contentInfo}}</p>
        </div>
        <div class="card-action">
          <a href="{{enlaceDir}}">{{enlace}}</a>
        </div>
      </div>
    </div>
  </div>
