<footer class="page-footer grey darken-3 mainContent">
	<div class="footer-copyright row">
		<div class="col s5">
			©2018 NextU Inc.<br/>
			Todos los Derechos Reservados
		</div>
		<div class="col s5">
			<a href="#!" class="white-text termsAndConditions">Terminos y Condiciones</a>
		</div>
		<div class="col s2">
			555-55 55<br/>
			Miami, Florida, USA
		</div>
	</div>
</footer>
